.g-footer {
  background-color: #03173e;
  color: #fff;
  padding: 0 16px;

  &__aside {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 22px;
    border-bottom: 2px solid HSLA(0, 0%, 100%, 0.32);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    align-items: center;
    max-width: 1168px;
    margin: auto;

    &-social {
      display: flex;
      align-items: center;
    }

    &-enquiries {
      display: flex;
      align-items: center;
      font-size: 16px;

      a {
        border-radius: 4px;
        padding: 0 12px;
        height: 40px;
        border: 0;
        color: #fff;
        line-height: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: transparent;
        height: 32px;
        margin-top: 4px;
      }
    }

    &-heading {
      font-size: 16px;
      line-height: 1.6;
    }

    &-phone {
    }
  }

  &__social {
    display: flex;
    font-size: 1.125rem;
    line-height: 35px;

    &-item {
      border-radius: 4px;
      padding: 0 12px;
      height: 40px;
      border: 0;
      color: #fff;
      line-height: 1;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      height: 32px;
    }
  }

  &__menu {
    flex: 1 1 25%;
    font-size: 1.125rem;
    line-height: 35px;

    &-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 24px 0;
      max-width: 1168px;
      margin: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      font-size: 1.125rem;
      line-height: 35px;
    }

    &-heading {
      display: flex;
      font-size: 20px;
      padding-left: 12px;
    }

    &-list {
      overflow: visible;
      transition: height 0.6s ease-in-out;
      font-size: 1.125rem;
      line-height: 35px;
      list-style: none;
    }

    &-item {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      position: relative;
      height: 32px;
      background: transparent;
      border-radius: 4px;
      padding: 0 12px;
      height: 40px;
      border: 0;
      color: #fff;
      line-height: 1;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 14px;
    }

    &-link {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }

    &-accordion-trigger {
      border-radius: 4px;
      padding: 0 12px;
      height: 40px;
      border: 0;
      color: #fff;
      line-height: 1;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      background: transparent;
      height: 32px;
      font-size: 16px;
      width: 100%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      position: relative;
      display: none;
    }
  }

  &__sub {
    align-items: flex-start;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 2px solid hsla(0, 0%, 100%, 0.32);
    padding-bottom: 24px;
    max-width: 1168px;
    margin: auto;
    font-size: 1.125rem;
    line-height: 35px;

    &-logo {
      font-size: 1.125rem;
      line-height: 35px;
      margin: 16px 0;
    }
  }
}
