.locationContainer {

    margin: 50px;

    &__bg_grey_light
    {        
        --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), 
    var(--bs-bg-opacity)) !important;
    padding:25px 0px 25px 0px;
    
    }

    &__title{
        padding-bottom: 30px;
        width: 40%;
    }

    
    &__heading_justifycontent_mb2{
        margin-bottom: 0.5rem !important;
        justify-content: space-between !important;
        display: flex !important;
        vertical-align: -webkit-baseline-middle;
        
    }

    &__description{
        width: 50%;
        display: inline-block;
    }

    &__imageContainer{
        display: inline-block;
        padding-right: 10px;
    }
    
    &__imageContainer_description{        
        width: 97%;
    }
    &__imageContainer_list{    
        display: flex !important;    
        margin-bottom:1rem !important;        
    }
    &__imageContainer_main{        
        width: 21.6%;
    }
    &__image{
        width: 300px;
        height: 300px;
        padding-top: 30px;
    }

    &__anchor_button{
        padding: 0px 20px;
        background-color: rgb(0, 120, 212);
        color: white;
        height: 33px;
        border-radius: 5px;
        border: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 20%;
        float: right;
    }
    &__anchor_link{        
        color: rgb(0, 120, 212);
        display: flex;
        float: left;
        width: 40%;
    }

}